.App{
    background-color: rgb(7, 54, 98);
    
    height: 363rem;
}

.card{
  background-color: transparent;
    border-color: gold;
    margin: 23px;
    box-shadow:0 0 32px rgb(255, 224, 100),0 0 10px
    rgb(255, 224, 100),0 0 20px rgb(255, 224, 100);
    z-index: 1;
    width: 330px;
    height: 598px;
}
.card-body{
  text-align:center;
  height:5.9rem;
  padding: 0.25rem;
    
}
 .card-title{
    letter-spacing: 2px;
    font-family: 'Bungee Inline', cursive;
    background-color: aqua;
    border-radius: 200% 50% 70%;
    
 }
.nom{
  background-color:white;
  border-radius: 70% 200% 50%;
}

p.cantidad{position: relative;
  font-family: 'Bungee Inline', cursive;
  font-size: 169%;
  top: -534px;
  width: 2px;
  left: 267px;
  z-index: 2;
  color: blanchedalmond;
  
  
  
}

p.naci {display: block;
  font-family: 'Bungee Inline', cursive;
    font-size: 169%;
   background-color: rgb(122, 29, 50);
    letter-spacing: 0px;
    box-shadow:0 0 32px rgb(122, 29, 50),0 0 10px
    rgb(122, 29, 50),0 0 20px rgb(122, 29, 50);
    border-color: rgb(250, 5, 5);
    }
p.clu {display: block;
      font-family: 'Bungee Inline', cursive;
        font-size: 159%;
       background-color: rgb(122, 29, 50);
        letter-spacing: 0px;
        box-shadow:0 0 32px rgb(122, 29, 50),0 0 10px
        rgb(122, 29, 50),0 0 20px rgb(122, 29, 50);
        border-color: rgb(250, 5, 5);
        }





.gol{z-index: 2;
  overflow: hidden;
  position: relative;
  top: -470px;
  left:116px;
  margin: 0;
  width:90px;
  animation: rotation 6s infinite linear;
  
  
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





@media (max-width: 1199px) {
  .card-title {
    font-size: calc(1.30em + 1vw);
    font-family: 'Bungee Inline', cursive;
    background-color: aqua;
    border-radius: 200% 50% 70%;}
  
  .p{
    font-size: 1rem ;
    background-color: brown;
  
  }
  .App{
    background-color: rgb(7, 54, 98);
    
    height: 1090rem;
}
 }

 @media (max-width: 994px) {
  .card-title {
    font-size: 3rem;
    font-family: 'Bungee Inline', cursive;
    background-color: aqua;
    border-radius: 200% 50% 70%;}
    .p{
      font-size: 2.1rem;
      background-color: rgb(25, 18, 225);
    
    }
  
   }